@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}
/*
	same for all the container
*/
h2 {
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 24px;
}

button {
	text-transform: uppercase;
	letter-spacing: 2px;
	background-color: #061E29;
	transition: background-color 0.3s;
	font-weight: bold;
	border-radius: 10px;
	padding: 5px;
}

.index_container {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav_container {
	height: calc(100vh - 70px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile_img_div {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.profile_img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	object-fit: cover;
	border: 3px solid #ccc;
}

.admin_form {
	display: flex;
	flex-direction: row;
	gap: 10px;
	height: 100px;
	width: 785px; /*890*/
	padding: 30px 40px;
	border-radius: 6px;
	margin-top:100px;
	box-shadow: 0 4px 6px black;
	text-align: center;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	padding: 30px 40px;
}

.fixed-footer {
	width: 100%;
	background-color: #061e29;
	color: white;
	text-align: center;
	height: 50px; /* Define the height of the footer */
	position: absolute;
	bottom:0;
	padding-top:10px;
}

.index_form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: 200px;
	padding: 30px 40px;
	border-radius: 6px;
	margin-top: 15px;
	box-shadow: 0 4px 6px black;
	text-align: center;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

input {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: none;
}

.index_btn {
	text-decoration: none;
	border: none;
	color: white;
	padding: 12px 25px;
	border-radius: 10px;
	font-size: 18px;
	width: 200px;
	text-align: center;
}

.index_btn:hover {
	background-color: #234C6A;
}

.signup_form {
	width: 300px;
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	gap: 15px;
	box-shadow: 0 4px 6px black;
	border-radius: 6px;
	padding: 10px;
}

.signup_btn {
	border: none;
	color: white;
	height: 40px;
	width: 50%;
	font-size: 18px;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #061e29;
	height: 70px;
	width:100%;
	color: white;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu {
	height: 35px;
	display: flex;
	align-items: center;
	gap: 15px;
	padding: 0 10px;
}

.signup_container {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.login_container {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.login_form {
	width: 300px;
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	gap: 15px;
	box-shadow: 0 4px 6px black;
	border-radius: 6px;
	padding: 10px;
}

.text {
	width: 100%;
	padding: 8px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.password {
	width: 100%;
	padding: 8px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.login_btn {
	background-color: #061E29;
	border: none;
	color: white;
	height: 40px;
	width: 50%;
	border-radius: 10px;
	font-size: 18px;
	font-weight: bold;
	border-radius: 10px;
	padding: 10px;
	transition: background-color 0.3s;
}

.login_btn:hover {
	background-color: #234C6A;
	padding: 10px 20px;
	color: white;
}