@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
	background-image: url('assets/bgplain.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
}
/*
	same for all the page
*/

h2,caption {
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 24px;
	font-weight: bold;
	text-shadow: 1px 2px black;
}

h3, .report_content {
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 18px;
}

button {
	text-transform: uppercase;
	letter-spacing: 2px;
	background-color: #061E29;
	transition: background-color 0.3s;
	font-weight: bold;
	border-radius: 10px;
	padding: 10px;
	color: white;
	border: none;
	cursor: pointer;
}

button:hover {
	background-color: #234C6A;
	color: white;
}

.index_container {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(3px);
}

.nav_container {
	height: calc(100vh - 50px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile_img_div {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.profile_img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	object-fit: cover;
	border: 3px solid #ccc;
}

.admin_form {
	display: flex;
	flex-direction: row;
	height: 100px;
	width: 785px; /*890*/
	padding: 30px 40px;
	border-radius: 6px;
	margin-top: 100px;
	box-shadow: 0 4px 6px black;
	text-align: center;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	padding: 30px 40px;
	box-shadow: 0 4px 6px black;
}

.fixed-footer {
	width: 100%;
	background-color: #061e29;
	color: white;
	text-align: center;
	height: 50px; /* Define the height of the footer */
	padding-top: 10px;
	
}

.index_form {
	height: 200px;
	padding: 30px 40px;
	border-radius: 6px;
	margin-top: 15px;
	box-shadow: 0 4px 6px black;
	text-align: center;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

input {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: none;
}

input[type="text"] {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

input[type="radio"] {
	display: inline;
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

input::placeholder {
	font-weight: bold;
	font-size: 15px;
}

textarea {
	width: 100%;
	padding: 8px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

textarea::placeholder {
	font-weight: bold;
	font-size: 15px;
}

.index_btn {
	text-decoration: none;
	border: none;
	color: white;
	padding: 12px 25px;
	border-radius: 10px;
	font-size: 18px;
	width: 200px;
	text-align: center;
}

.index_btn:hover {
	background-color: #234C6A;
}

.signup_form {
	width: 300px;
	height: 200px;
	padding: 10px;
	box-shadow: 0 4px 6px black;
	border-radius: 6px;
}

.signup_btn {
	border: none;
	color: white;
	height: 40px;
	width: 50%;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #061e29;
	height: 70px;
	width: 100%;
	color: white;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu {
	display: flex;
	flex-direction: row;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	padding: 10px;
	border-bottom: 1px solid #ccc;
	text-align: center;
}

td, tr {
	background: #061318;
	color: white;
}

th {
	background: #2c3e50;
	color: white;
}

select {
	height: 30px;
	width: 100%;
	font-size: 16px;
	text-align: center;
}

.signup_container {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.admin_signup_container{
	height: calc(100vh - 50px);
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.login_container {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.login_form {
	width: 300px;
	height: 200px;
	box-shadow: 0 4px 6px black;
	border-radius: 6px;
	padding-right: 15px;
	padding-left: 15px;
}

.text {
	width: 100%;
	padding: 8px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.password {
	width: 100%;
	padding: 8px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.login_btn {
	background-color: #061E29;
	border: none;
	color: white;
	height: 40px;
	width: 50%;
	border-radius: 10px;
	font-size: 18px;
	font-weight: bold;
	border-radius: 10px;
	padding: 10px;
	transition: background-color 0.3s;
}

.login_btn:hover {
	background-color: #234C6A;
	padding: 10px 20px;
	color: white;
}

.createexam_form {
	padding: 30px 40px;
	border-radius: 6px;
	box-shadow: 0 4px 6px black;
	width: 420px;
}

.exam_container {
	min-height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.createquestion_form {
	padding: 30px 40px;
	border-radius: 6px;
	box-shadow: 0 4px 6px black;
	width: 420px;
	backdrop-filter: blur(10px);
}

.home_container {
	height: calc(100vh - 50px);
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.question_container {
	min-height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px;
	gap: 10px;
}

.retire_container {
	height: calc(100vh - 50px);
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.retire_form {
	padding: 30px 40px;
	border-radius: 6px;
	box-shadow: 0 4px 6px black;
	width: 420px;
	backdrop-filter: blur(5px);
}

.attempt_btn {
	text-transform: uppercase;
	letter-spacing: 2px;
	background-color: #28a745;
	transition: background-color 0.3s;
	font-weight: bold;
	border-radius: 10px;
	padding: 10px;
	color: white;
	border: none;
	cursor: pointer;
}

.exam_container {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.report_container {
	height: 100h;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	gap: 100px;
	padding-left: 15px;
}

.result-summary {
	width: 300px;
	height:300px;
	margin-top:100px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	border-radius: 6px;
	background-color: #2c3e50;
}